@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

img {
    width: 100%;
    height: 100%;
}

@theme {
    --font-header: "ADLaM Display", system-ui;
    --clour-pink: #94BBE9;
    --color-nav: #FFF9F4;
}
